#Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap:10px;
}
#Home .containerDiv{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(23,23,26);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -5px, rgba(0, 0, 0, 0.3) 0px 100px 100px -8px;
    margin-bottom: 200px;
    overflow: hidden;
}
#Home .colDiv{
    height: 100%;
    opacity: 0.5;
}
#Home .innerDiv{
    border-radius: 12px;
    background-color: #26252A;
    opacity: 1;
}
#Home .rowDiv{
    display: flex;
    height: 49%;
    position: relative;
}
#Home .verticalSpliterDiv{
    width: 20px;
}
#Home .spliterDiv{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.2s ease;
    touch-action: none;
}
#Home .spliterDiv:hover{
    opacity: 1;
}
#Home .spliterDiv:active{
    opacity: 1;
}
#Home .spliterIcon{
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
}

#Home .verticalSpliterDiv .spliterIcon{
    width: 30%;
    height: 15%;
}
#Home .horizontalSpliterDiv .spliterIcon{
    width: 15%;
    height: 35%;
}
#Home .horizontalSpliterDiv{
    height: 20px;
}
