@font-face {
  font-family: Inter;
  src: url("../src/resources/Inter/Inter-VariableFont.ttf");
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  -webkit-text-size-adjust: 30%;
  text-align: center;
  font-family: Inter;
  color:white;
}

@media screen and (min-width: 480px){
  .App{
    -webkit-text-size-adjust: 50%;
  }
}

